@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');

*{
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    background-color: #7b2cbf;
    color: #240046;
    font-weight: 700;
    display: flex;
    min-height: 100vh;
    min-width: 100vw;
}

main{
    width: 50vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

main h1{
    color: #10002b;
    font-size: 3rem;
    margin-bottom: 3rem;
    text-align: center;
}

main.social-media{
    display: flex;
    align-content: center;
}

.social-media a{
    text-decoration: none;
}

.social-media img{
    width: 35px;
}

.social-media a:not(:first-child){
    margin-left: 3rem;
}

main .alternative{
    margin-top: 1rem;
}

main .alternative span{
    font-size: 1.1rem;
    font-weight: 400;
    color: #e0aaff;
    position: relative;
}

main .alternative span::before, main .alternative span::after{
    position: absolute;
    content: '';
    height: 1px;
    width: 100px;
    background: #e0aaff;
    bottom: 50%;
    right: 50px;
 }

 main .alternative span::after{
     left: 50px;
 }

form{
    display: flex;
    flex-direction: column;
    align-items: center;

}

label{
    display: flex;
    flex-direction: column;
}

span{
    font-size: 1.1rem;
    margin-top: 2rem;
}

form input{
    background-color: #c77dff;
    width: 300px;
    height: 50px;
    padding: 0 0.5rem;
    margin-top: 1rem;
    outline: none;
    color:white;
    font-size: 1rem;
    border: 3px solid #7b2cbf;
    border-radius: 8px;
}

input[type="submit"]{
    cursor: pointer;
    width: 50%;
    margin-top: 3rem;
    border: none;
    color: white;
    font-size: 1.1rem;
    background-color: #240046;
    transition: all 0.3s ease-in-out;
    border-radius: 30px;
    margin-bottom: 3rem;
}

input[type="submit"]:hover{
    background-color: #3c096c;
}

section.images{
    display: flex;
    align-items: flex-end;
    width: 50vw;
    justify-content: flex-end;
    padding: 4rem;
}

section.images img{
    width: 100%;
}

section.images .circle{
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background: linear-gradient(19deg, #E8CBC0, #9f8be8);
    clip-path: circle(40% at right 30%);
    z-index: -1;
}

@media only screen and (min-width: 900px) and (max-width: 1200px){
    section.images img {
        width: 110%;
    }

    section.images .circle {
        clip-path: circle(35% at right 30%);
    }
}

@media only screen and (max-width: 900px){
    section.images {
        display: none;
        visibility: hidden;
    }

    main {
        width: 100vw;
    }
}

@media only screen and (max-width: 450px) {
    main h1 {
        font-size: 2rem;
    }

    main .alternative span {
        font-size: 0.8rem;
    }

    main form label span, main form input[type="submit"] {
        font-size: 1rem;
    }
}